<%- include('../../common/_header'); -%>
<%- include('../../common/_logo'); -%>
                        <!-- content -->
                        <table width="850" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#ffffff">
                            <tr>
                                <td height="120" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <h1>Nu er det jul igen!</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr valign="top">
                                            <td>
                                                <p class="text-h2">
                                                Good Monday sørger for jer i julen ❤️ Vi har sammensat en masse gode sager, der drysser stemning over kontoret og på hjemmefronten 🎅<br/><br/>
                                                Prøv vores julepakke fyldt med hyggelig juleklip, der giver selv den mest kreative nisse kamp til skægget! Pryd kontoret med en smuk adventskrans, sæt stjernen på værket med et pyntet 🎄 i receptionen eller benyt vores julegave-service og bliv højtidens mand i den bruneste skysovs!<br/><br/>
                                                Good Monday hjælper også med at stykke en uforglemmelig julefrokost sammen - altså på den gode måde!<br/><br/>
                                                Se vores juleidéer eller giv os et kald på ☎️ <a href="tel:+4531314362">+45 31 31 43 62</a>, så vi kan guide dig til de bedste julevalg!<br/>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="60" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="" align="center" style="font-family: helvetica, 'Work Sans', Arial; font-size:18px; font-weight: normal; line-height:22px; color: #323c51">
                                                <a href="{{hashLink}}" class="site-button">SE JULEIDÉER! 🎁</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="70" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr align="center" valign="top">
                                            <td>
                                                <p class="text-h2">Team Good Monday</p>
                                            </td>
                                        </tr>

                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="120" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                        </table>
<%- include('../../common/_footer'); -%>
