
                        <!-- footer -->
                        <table width="850" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#323c52">
                            <tr>
                                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="660" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tr>
                                            <td height="80" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td width="200" class="mobile" align="center" valign="top">
                                                
                                                <ul class="footer-list-menu">
                                                    <li><span class="footer-list-title">FIRMA</span></li>
                                                    <li><a href="mailto:job@goodmonday.io">Job</a></li>
                                                    <li><a href="mailto:presse@goodmonday.io">Presse</a></li>
                                                </ul>    
                                            
                                            </td>
                                            <td width="200" class="mobile" align="center" valign="top">

                                                <ul class="footer-list-menu">
                                                    <li><span class="footer-list-title">SUPPORT</span></li>
                                                    <li><a href="https://goodmonday.io/terms">Terms & Conditions</a></li>
                                                </ul>    
                                            
                                            </td>
                                            <td width="240" class="mobile" align="center" valign="top">

                                                <ul class="footer-list-menu">
                                                    <li><span class="footer-list-title">KONTAKT</span></li>
                                                    <li>
                                                        <p><img class="icon-img-png" src="{{imagesRessource}}/newsletter/icon-phone.png">&nbsp;<a href="tel:+4531314362‬" class="contact-link">+45 31 31 43 62‬</a></p>
                                                    </li>
                                                    <li>
                                                        <p><img class="icon-img-png" src="{{imagesRessource}}/newsletter/icon-email.png">&nbsp;<a href="mailto:hello@goodmonday.dk" class="contact-link">hello@goodmonday.io</a></p>
                                                    </li>
                                                    <li>
                                                        <p><img class="icon-img-png" src="{{imagesRessource}}/newsletter/icon-location.png">&nbsp;<a href="javascript:;" class="contact-link">Artillerivej 86, 2., 2300 København S</a></p>
                                                    </li>
                                                </ul>    

                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="80" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="660" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tr>
                                            <td><hr /></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="660" cellpadding="0" cellspacing="0" border="0" class="wrapper">
                                        <tr>
                                            <td align="center" valign="top">
                
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="container">
                                                    <tr>
                                                        <td width="330" class="mobile" align="center" valign="top">
                                                            <p class="copyright">Goodmonday Copyright 2018</p>
                                                        </td>
                                                        <td width="330" class="mobile" align="center" valign="top">
                                                            <p class="social-link">
                                                                <a href="https://www.facebook.com/goodmondayeverymonday" class="icon-social-link"><img src="{{imagesRessource}}/newsletter/icon-fb.png" /></a>
                                                                <a href="https://mobile.twitter.com/Goodmonday2day" class="icon-social-link"><img src="{{imagesRessource}}/newsletter/icon-twitter.png" /></a>
                                                                <a href="https://www.instagram.com/goodmonday.io/" class="icon-social-link"><img src="{{imagesRessource}}/newsletter/icon-ig.png" /></a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>

                            <tr>
                                <td height="30" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </center>
    </body>

</html>