
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ready!</title>

        <style type="text/css">
            /* Outlines the grids, remove when sending */
            
            table td {
                /* border: 1px solid cyan; */
            }
            /* CLIENT-SPECIFIC STYLES */
            
            body,
            table,
            td,
            a {
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }
            
            table,
            td {
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }
            
            img {
                -ms-interpolation-mode: bicubic;
            }
            
            body, table, td, a, p, span, strong {
                font-family: helvetica, "Work Sans", Arial !important;
                font-size: 16px !important;
                color: #84898d;            
                line-height: 22px !important;
            }
            p {
                margin: 0;
                padding: 0;
            }
            
            /* CUSTOM STYLE */
            .brand {
                padding: 5px 30px !important;
            }
            h1 {
                font-size: 58px;
                line-height: 1em;
                margin-bottom: 0;
                margin-top: 0;
                color: #323C51;
            }
            .outline {
                -webkit-text-stroke: 1px #313c52;
                text-stroke: 1px #313c52;
                color: transparent;
            }
            .text-h2 {
                font-size: 18px !important;
                font-weight: 200;
            }
        .site-button {
                border-radius: 40px;
                padding: 20px 50px;
                border: 2px solid #323C51;
                text-decoration: none;
                color: white;
                letter-spacing: 2px;
                font-size: 14px;
                background-color: #323C51;
                text-transform: uppercase;
        }
        .footer-list-menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        .footer-list-menu li {
            text-align: left;
        }
        .footer-list-menu li a {
            color: #ffffff;
            text-decoration: none;
            font-size: 12px !important;
        }
        .footer-list-menu li a:hover
        .footer-list-menu li a:active
        .footer-list-menu li a:link {
                text-decoration: none;
        }
        .footer-list-menu li .footer-list-title {
            font-size: 14px !important;
            font-weight: bold;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0 0 15px 0 !important;
            display: block;
        }
            .footer-list-menu li p {
                margin: 0;
                padding: 7px 0 !important;
        }
        
        .icon-img-png { float: left; padding-right: 5px; }
        .contact-link { float: left; padding: 2px !important; }
        .icon-social-link { padding-left: 15px;}
            .social-link { text-align: right; }
        .copyright {
            color: #ffffff;
            font-size: 12px !important;
            text-align: left;
        }
        hr { border-top: 2px solid #656d7d; border-bottom: 0; }
            
            
            /* RESET STYLES */
            
            img {
                border: 0;
                outline: none;
                text-decoration: none;
            }
            
            table {
                border-collapse: collapse !important;
            }
            
            body {
                margin: 0 !important;
                padding: 0 !important;
                width: 100% !important;
            }
            /* iOS BLUE LINKS */
            
            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }
            /* ANDROID CENTER FIX */
            
            div[style*="margin: 16px 0;"] {
                margin: 0 !important;
            }
            /* MEDIA QUERIES */
            
            @media all and (max-width:639px) {
                .wrapper {
                    width: 100%!important;
                    padding: 0 !important;
                }
                .container {
                    width: 90%!important;
                    padding: 0 !important;
                }
                .mobile {
                    width: 100%!important;
                    display: block!important;
                    padding: 0 !important;
                }
                .img {
                    width: 100% !important;
                    height: auto !important;
                }
                *[class="mobileOff"] {
                    width: 0px !important;
                    display: none !important;
                }
                *[class*="mobileOn"] {
                    display: block !important;
                    max-height: none !important;
                }
                .brand {
                    padding-left: 10px !important;
                }
                .title-img {
                    width: 80% !important;                
                    height: 80% !important;
                }
        .icon-img-png, .contact-link { float: none !important; }

                .footer-list-menu {
                    padding-bottom: 20px;
                }
                .footer-list-menu li {
                    text-align: center !important;
                }
                .copyright {
                    text-align: center !important;
                    padding: 0 0 20px 0;
                }
                .social-link {
                    text-align: center !important;
                }
            }
        </style>
    </head>

    <body style="margin:0; padding:0; background-color:#F2F2F2;">

        <span style="display: block; width: 640px !important; max-width: 640px; height: 1px" class="mobileOff"></span>

        <center>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f2f2">
                <tr>
                    <td align="center" valign="top">
