                        <!-- logo -->
                        <table width="850" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#f7f7f7">
                            <tr>
                                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tr>
                                            <td align="left" valign="top">
                                                <a href="https://www.goodmonday.io">
                                                    <img class="brand" src="{{imagesRessource}}/newsletter/good-monday-logo-brand.png" width="" height="" style="margin:0; padding:0; border:none; display:block;" border="0" alt="" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                        </table>
