                        <!-- content -->
                        <table width="850" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#ffffff">
                            <tr>
                                <td height="120" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <h1>{{subject}}</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr align="center" valign="top">
                                            <td>
                                                <p class="text-h2">{{message}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="60" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="" align="center" style="font-family: helvetica, 'Work Sans', Arial; font-size:18px; font-weight: normal; line-height:22px; color: #323c51">
                                                <a href="{{hashLink}}" class="site-button">{{buttonText}}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="70" style="font-size:10px; line-height:10px;">&nbsp;</td>
                                        </tr>
                                        <tr align="center" valign="top">
                                            <td>
                                                <p class="text-h2">Kram fra os, der elsker mandage.</p>
                                            </td>
                                        </tr>
                                        
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td height="120" style="font-size:10px; line-height:10px;">&nbsp;</td>
                            </tr>
                        </table>
